.doQuestionPage{

  .options-wrappper{
    padding-top: 48px;
  }

  .title{
    padding-top: 48px;
  }

  .subTitle{
    color: #fff;
    margin-bottom: 48px;
  }

  .contorBtn{
    margin: 48px;
  }
}

